html{ -webkit-tap-highlight-color: transparent; scroll-behavior: smooth; }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*{margin: 0; padding: 0; box-sizing: border-box;}


.MuiPopover-root .MuiPaper-root{ background-color: #fff;}
/* .MuiPaper-root .MuiButtonBase-root.Mui-selected{ background-color: #D434FE; } */


swiper-container::part(button-prev) {color: #000; width: 30px; height: 30px;}
swiper-container::part(button-next) {color: #000; width: 30px; height: 30px;}

.swiper-button-prev{transform: scale(.8); color: #000 !important;}
.swiper-button-next{transform: scale(.8); color: #000 !important;}