html{ -webkit-tap-highlight-color: transparent; scroll-behavior: smooth; }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*{margin: 0; padding: 0; box-sizing: border-box;}


.MuiPopover-root .MuiPaper-root{ background-color: #000;}
.MuiPaper-root .MuiButtonBase-root.Mui-selected{ background-color: #D434FE; }
